@import 'tailwindcss';

:root {
  --primary: #f3f3f3;
  --font-color: #000000;
  --accent: #d72222;
}

body {
  background: var(--primary);
  color: var(--font-color);
  font-family: Arial;
}

.text-accent {
  color: var(--accent);
}

.bg-accent {
  background-color: var(--accent);
}

.responsive-grid {
  @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8;
}

.overlay {
  @apply bg-[#2929299c] fixed top-0 bottom-0 right-0 left-0 z-[100];
}

.primary-btn {
  @apply bg-[var(--accent)] text-white py-[13px] px-[54px] rounded-[24px] shadow-lg;
}

.sidebar-item-container {
  @apply rounded-4xl pl-[48px] py-[8px]  w-full flex items-center cursor-pointer mb-[8px];
}

.active {
  @apply bg-[var(--accent)] text-white shadow-lg;
}
